.containerWheel {
  padding-top: 4rem;
  float: right;
  overflow: hidden;
}

.containerWheelImage {
  position: relative;
  width: 350px;
  float: left;
}
.wheelImage {
  width: 100%;
}
.wheelResult {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 1.8rem;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.wheelResultBlack {
  background-color: black;
}
.wheelResultZero {
  background: green;
}
.wheelResultRed {
  background-color: red;
}

.infoBet {
  float: right;
  width: 200px;
  padding-left: 1rem;
  color: white;
  font-size: 1.4rem;
}

.bidButton {
  padding: 0.5rem 0.8rem;
  background: red;
  text-transform: uppercase;
  font-size: 1rem;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  .containerWheel {
    float: none;
    width: 38rem;
    margin: 0 auto;
    padding-top: 0;
  }
}

@media screen and (max-width: 680px) {
  .containerWheel {
    width: 35rem;
  }
  .containerWheelImage {
    padding-left: 1rem;
    width: 20rem;
  }
}
