.containerTableBet {
  overflow: hidden;
  margin: 0 auto;
  width: 80rem;
}

.errorMessage {
  background: red;
  color: white;
  padding: 0.5rem 0.8rem;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  margin: 20px 0 20px 0;
}

.successMessage {
  background: darkgreen;
  color: white;
  padding: 0.5rem 0.8rem;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  margin: 20px 0 20px 0;
}

.loading {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.loading p {
  color: white;
  text-align: center;
  margin-top: 30%;
}

.footer {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 4rem;
}
.footer a {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 1240px) {
  .containerTableBet {
    width: 100%;
  }
}
